
        body {
            margin:0;
        }
        #container {
            max-width:1024px;
            margin:  0 auto;
        }

        #header { 
            background-color: #eddaab;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }
        #title{
            display:flex;
            align-items:  center;
        }
        #title_name{
            margin:1rem;
            font-size:20px;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight:bold;
        }

        .dropdown {
            color:black;
            padding:10px;
        }
        .dropbtn {
            background-color:#f1ebdc;
            color:black;
            font-size:20pt;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .dropdown-content {
            background-color:#f1ebdc;
            color:black;
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-content a:hover {
            background-color:#eddaab;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdown:hover .dropbtn {
            background-color:#eddaab;
        }
        #main{
            background-color: #f1ebdc;
            padding:2rem 0;
        }
        #submain{
            padding:0 2rem;
        }
        h1{
            color:black;
            text-align:center;
            padding-top: 2;
            padding-bottom:2;
            font-size: 65px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-shadow: 6px 6px #eddaab;
        }
        h2{
            text-align:center;
            font-size:30px;
            font-weight:bold;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        h4{
            font-size: 20px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight:bold;
        }
        #quote{
            font-size: 18px;
            text-align:center;
            font-family:cursive;
        }
        .flexparent{
            display:flex;
        }
        .flexchild{
            flex-grow:1;
            object-fit:contain;
            width:50%;
            padding:10px;
        }
        img{
            max-width: 100%;
        }
        .img_border{
            border:solid;
            border-radius: 0%;
            border-width: 15px;
            border-radius: 20px;
        }
        .sidebox{
            display:flex;
        }
        .sidebox_child{
            flex-grow:1;
            width:50%;
            padding:10px;
        }
        .click_option{
            text-align:center;
            font-size:30px;
            font-weight: bold;
            color:black;
        }
        .click_option_text{
            text-decoration: none;
        }
        .hidden {
            display:    none;
        }
        .clickable, button {
            cursor:     pointer;
            font-size:20px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        p{
            font-size:14px;
        }
        .relative {
            position:   relative;
        }
        .absolute {
            position:   absolute;
            z-index:    1;
        }
        .quiz-msg{
            font-size: 20px;
            font-weight: bold;
        }
        .quiz-option {
            display: block;
            padding: 7px 1rem;
        }
        .quiz-btns {
            text-align: right;
        }
        .quiz-next {
            background-color:#eddaab;
            color:black;
            padding: 0.5rem 1rem;
        }
        #result{
            text-align: center;
            font-size: 20px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        #final_msg{
            text-align: center;
            font-size: 17px;
        }
     
        div {  
            
            margin: 3px;
            padding:3px;
        }

        * {box-sizing:border-box}

        .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
        }

        .mySlides {
        display: none;
        }

        .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color:white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        }

        .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        }

        .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        }


        .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        }

        .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
        background-color: #717171;
        }

        .fade {
        animation-name: fade;
        animation-duration: 1.5s;
        }

        @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
        }